html, body {
  margin: 0;
  padding: 0;
  background-color: rgb(9, 9, 9);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  position: relative;
  display: inline-block;
}

.container img {
  display: block;
  width: 100%;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;

  width: clamp(200px, 80%, 800px);
  height: clamp(100px, 80%, 400px);

  background-color: rgba(9, 9, 6, 0.3);
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-left: 1px solid rgba(0, 0, 0, 0.5);
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 7px 7px 0 0;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

header {
  position: sticky;
  z-index: 100;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: rgba(33, 33, 33, 0.7);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  width: 100%;
  box-sizing: border-box;
}

header ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 2rem;
}

header ul li {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 1.7rem;
}

h2 {

  margin: 20px 20px 10px 20px;
  width: auto;
}

p {
  line-height: 1.6;
  width: 80%;
}

a {
  text-decoration: none;
  color: white;
}


.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
  background-color: rgb(21, 21, 21);
  border: 2px dashed rgba(255, 255, 255, 0.03);
  margin: 2rem auto;
  padding: 2rem;

  width: clamp( 50%, 80%, 94%);
}

.card {
  background-color: rgba(60, 60, 60, 0.2);
  border-radius: 7px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
}

.card img {
  object-fit: cover;
  border-radius: 7px;
  margin: 10px;
}

.card:hover {
  border-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.card p {
  width: 90%;
  text-align: center;
  margin: auto;
}

.card hr {
  width: calc(100% - 40px);
  margin: 10px 20px 10px;
  opacity: 0.2;
}

.card ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px auto 20px auto;
  padding: 0;
  gap: 2rem;
}

.card ul li {
  display: flex;
  align-items: center;
  margin: auto;
  padding: 4px;
}

.card ul li img {
  width: 25px;
  filter: invert(90%);
  margin: 0 5px 0 0;
}

.card ul li p {
  margin: 0;
  font-size: 0.9rem;
  color: rgb(229, 229, 229);
  text-align: left;
}

.card-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
}

.card-title h3 {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  color: white;
  line-height: 1.2;
}

.card-title a {
  display: block;
  width: 25px;
  height: 25px;
  padding: 0;
  margin: 0;
}

.card-title a img {
  width: 25px;
  height: 25px;
  padding: 0;
  margin: 0;
  filter: invert(100%);
}

.footer {
  bottom: 0%;
  background-color: rgb(6, 6, 6);
  text-align: center;
  margin-top: 30px;
}

#footer-top {
  padding: 1rem;
}

#footer-bottom {
  margin: 0;
  background-color: rgb(1, 1, 1);
  color: rgb(160, 160, 160);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}

#footer-bottom p {
  margin: 0;
  line-height: 1;
  padding-bottom: 5px;
}

footer ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 2rem;
}

footer ul li {
  margin: auto;
  padding: 10px;

}

footer ul li img {
  width: 40px;
  filter: invert(100%);
}

.footer h2 {
  margin-bottom: 15px;
  font-size: 28px;
}

.footer p {
  margin: auto;
  font-size: 14px;
  padding-bottom: 20px;
  line-height: 1.6;
}

a:hover {
  filter: brightness(65%);
  transition: filter 0.3s ease;
}
